<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="ContactManagementSuite" verbose="1" parallel="none">
    <listeners>
        <!-- optional, enable if you added ExtentListener -->
        <listener class-name="com.cm.tests.listeners.ExtentListeners"/>
    </listeners>

    <test name="AllTests">
        <parameter name="browser" value="chrome" />
        <classes>
            <class name="com.cm.tests.RegistrationTests"/>
            <class name="com.cm.tests.LoginTests"/>
            <class name="com.cm.tests.CreateContactTests"/>
            <class name="com.cm.tests.EditContactTests"/>
            <class name="com.cm.tests.DeleteContactTests"/>
            <class name="com.cm.tests.NavigationTests"/>
            <class name="com.cm.tests.ValidationTests"/>
            <class name="com.cm.tests.SecurityTests"/>
        </classes>
    </test>
</suite>
